<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="../css/icon-font.css">
    <link rel="stylesheet" href="../css/incubation.css">
    <link rel="stylesheet" href="../css/style.css">

    <title>Covid19 Tracker</title>

</head>

<body id="mybody">
    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

        <label for="navi-toggle" class="navigation__button">
          <span class="navigation__icon">&nbsp;</span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="../index.html" class="navigation__link"><span>01 </span>Live Updates</a></li>
                <li class="navigation__item"><a href="more-stats.html" class="navigation__link"><span>02 </span>More Stats</a></li>
                <li class="navigation__item"><a href="death-rates.html" class="navigation__link"><span>03 </span>Death Rates</a></li>
                <li class="navigation__item"><a href="incubation.html" class="navigation__link"><span>04 </span>Incubation</a></li>
                <li class="navigation__item"><a href="symptoms.html" class="navigation__link"><span>05 </span>Symptoms</a></li>
            </ul>
        </nav>
    </div>

    <header class="header">
        <div class="header__logo-box">
            <!-- <img src="img/logo-white.png" alt="Logo"> -->
            <p class="header__logo">Covid 19 Tracker</p>
        </div>

        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">incubation</span>
                <span class="heading-primary--sub">period is 10 to 15 days</span>
            </h1>

            <a href="#" class="btn btn--white btn--animated">Discover more</a>
        </div>
    </header>

    <footer class="footer">
        <div class="footer__logo-wrapper">
            <div class="footer__logo-box">
                <span class="footer__logo">Covid 19 Tracker</span>

            </div>
        </div>

        <div class="row">
            <div class="col-1-of-2">
                <div class="footer__navigation">
                    <ul class="footer__list">
                        <li class="footer__item"><a href="../index.html" class="footer__link">Live Updates</a></li>
                        <li class="footer__item"><a href="more-stats.html" class="footer__link">More Stats</a></li>
                        <li class="footer__item"><a href="death-rates.html" class="footer__link">Death Rates</a></li>
                        <li class="footer__item"><a href="incubation.html" class="footer__link">Incubation</a></li>
                        <li class="footer__item"><a href="symptoms.html" class="footer__link">symptoms</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-1-of-2">
                <p class="footer__copyright">
                    Developed by <a href="#" class="footer__link">Shrirang Mhalgi</a> as part of <a href="#" class="footer__link">COVID 19</a> project for <a href="#" class="footer__link">AIML COMMUNITY</a> on 25<sup>th</sup> April 2020. Copyright &copy;
                    Shrirang Mhalgi. </p>
            </div>
        </div>
    </footer>
</body>

</html>